/.conda
/aednerung.py
/Blogbereinigung
/build
/CA_Programm
/CA_ScanTesseract
/CS50
/DataScience.py
/Dateien_löschen
/Diabetes
/dist
/EDV_ReportServices_MailExtraktion
/EXCEL
/ExterneDatenGotec
/filtered_similarities.csv
/Hilfsmittlverzeichnis
/Internet
/key
/Kosinusanalyse
/PDF _Bearbeitung
/Powerpoint
/SC_Sonderbau Begründungen
/SRVDWH.py
/Statistik
/Test.py
/Test.spec
/tmp.py
/vorher.txt